.weather-master-container {
  background: #f2f9f0;
}

.container{
  max-width: 1024px !important;
}

.city-name{
  align-items: center;
  text-align: center;
  margin: 0px 0px;
}
.weather-data-container {
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.2s ease-in-out; 
}
.days-container{
  margin: 5px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
}
.arrow_box{
  width: 42px ;
}

